.override-bs{
  border-radius: 20px;
  width:100%;
  margin-top: 5px;
}

.img-icon{
  border-radius: 10px;
  height: 48px;
  width: 48px;
}

.btn-follow{
  border-radius: 20px;
}

.grey{
  color: grey;
}

.input-search{
  background-color: white;
}

.border-round{
  border-radius: 30px;
}


.img-icon-2{
  border-radius: 10px;
  height: 80%;
  width: 80%;
}


